# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# IDE
.vscode/
.idea/
.DS_Store
.claude/

# PostgreSQL
*.dump
*.backup
*.bak

# Logs
*.log

# Docker
docker-compose.override.yml

# Testing
coverage.out
*.coverprofile
combined-coverage.out

# Project specific
**/tmp/

environments/**/primary-init.d/10-replication-role.sql
environments/**/replica-init.d/10-replication-role.sql
tools/env-template/env-template
tools/pg-bootstrap-sync/pg-bootstrap-sync