# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
.DS_Store
.claude/

# PostgreSQL
*.dump
*.backup
*.bak

# Logs
*.log

# Docker
docker-compose.override.yml

# Testing
coverage.out
*.coverprofile
combined-coverage.out
*.test

# Project specific
**/tmp/
.task/

*.pem

services/*/server
tools/env-template/env-template
tools/pg-bootstrap-sync/pg-bootstrap-sync
tools/test-version/test-version

**/node_modules
