go 1.24.3

use (
	./pkg/kvbuffer
	./pkg/types
	./pkg/version
	./proto/kasho/proto
	./services/mysql-change-stream
	./services/pg-change-stream
	./services/translicator
	./tools/development/generate-fake-saas-data
	./tools/development/test-version
	./tools/runtime/env-template
	./tools/runtime/pg-bootstrap-sync
)
