# Primary Database Connection
PRIMARY_HOST=postgres-primary
PRIMARY_PORT=5432
PRIMARY_DB=source_db
PRIMARY_USER=translicate
PRIMARY_PASSWORD=translicate

# Replica Database Connection
REPLICA_HOST=postgres-replica
REPLICA_PORT=5432
REPLICA_DB=replica_db
REPLICA_USER=translicate
REPLICA_PASSWORD=translicate
