# USE THIS FILE TO CREATE a .env
CHANGE_STREAM_HOST=pg-change-stream
CHANGE_STREAM_PORT=8080

TRANSFORM_CONFIG_FILE=/app/config/transforms.yaml

PRIMARY_DATABASE_SU_USER=postgres
PRIMARY_DATABASE_SU_PASSWORD=postgres
PRIMARY_DATABASE_KASHO_USER=kasho
PRIMARY_DATABASE_KASHO_PASSWORD=kasho
PRIMARY_DATABASE_HOST=postgres-primary
PRIMARY_DATABASE_PORT=5432
PRIMARY_DATABASE_DB=primary_db
PRIMARY_DATABASE_SSLMODE=disable

REPLICA_DATABASE_SU_USER=postgres
REPLICA_DATABASE_SU_PASSWORD=postgres
REPLICA_DATABASE_KASHO_USER=kasho
REPLICA_DATABASE_KASHO_PASSWORD=kasho
REPLICA_DATABASE_HOST=postgres-replica
REPLICA_DATABASE_PORT=5432
REPLICA_DATABASE_DB=replica_db
REPLICA_DATABASE_SSLMODE=disable
