# USE THIS FILE TO CREATE a .env
CHANGE_STREAM_ADDR=pg-change-stream:8080
TRANSFORM_CONFIG_FILE=/app/config/transforms.yaml
PRIMARY_DATABASE_URL=postgresql://translicate:translicate@postgres-primary:5432/source_db
REPLICA_DATABASE_URL=postgresql://translicate:translicate@postgres-replica:5432/replica_db
PORT=8080