@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import base WorkOS widget styles */
@import '@radix-ui/themes/layout.css';
@import '@workos-inc/widgets/base.css';

/* Import custom WorkOS widget styles */
@import './workos-widgets.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}